.git
.gitignore
README.md

#
# OS X
#
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk

#
# Rails
#
.env
.env.sample
log
tmp
public/system
spec/tmp
.bundle

.ruby-version
.ruby-gemset
.rvmrc

# YARN
/node_modules/*