*::selection {
  background: #000;
  color: #fff;
}

html,
body {
  background-color: $body-bg;
  color: $white;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  min-height: 100vh;
}

$body-grad: linear-gradient($body-bg-darker 0%, color($body-bg-darker, alpha(0)) 500px);
body {
  background-image: url(/images/svg/pattern-red.svg), $body-grad;
  background-repeat: repeat-x, repeat-x;
  background-size: 400px, auto;
}
