$font-path: /fonts/;

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Museo Sans Cyrl Bold'), local('MuseoSansCyrl-Bold'),
    url('#{$font-path}MuseoSansBold.woff') format('woff'),
    url('#{$font-path}MuseoSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('#{$font-path}OpenSans-Regular.woff') format('woff'),
    url('#{$font-path}OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('#{$font-path}OpenSans-SemiBold.woff') format('woff'),
    url('#{$font-path}OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('#{$font-path}OpenSans-Bold.woff') format('woff'),
    url('#{$font-path}OpenSans-Bold.ttf') format('truetype');
}
