input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  @apply text-white-20;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  @apply text-white-20;
}

///////////////////////////////////////////////////////

label {
  @apply uppercase font-semibold text-white-50;
}

input, textarea, select {
  @apply text-lg text-white bg-blue-10;
}

textarea {
  min-height: 8rem;

  &:hover, &:focus, &:not(:placeholder-shown) {
    @apply bg-blue-20;
  }
}

input {
  height: 3rem;

  &[type='text'],
  &[type='email'],
  &[type='search'],
  &[type='password'] {
    @apply w-full;
  }

  &[type='text'],
  &[type='email'],
  &[type='search'],
  &[type='password'] {
    @apply bg-blue-05;
    &:hover, &:focus, &:not(:placeholder-shown) {
      @apply bg-blue-20;
    }
  }

  &[type='number'] {
    &:hover, &:focus {
      @apply bg-blue-20;
    }
  }

  &[type='button'],
  &[type='submit'] {
    @apply p-4 leading-none bg-red-grad-x cursor-pointer;

    &:hover {
      @apply bg-red-grad-x-hover;
    }
  }

  &[type='checkbox'] {
    @apply align-middle mr-2;
  }
}

///////////////////////////////////////////////
// VALIDATION:

%before-icon-exclamation-circle {
  @apply relative text-orange text-2xl;
  font-family: 'Line Awesome Free';
  font-weight: 900;
  @extend .la-exclamation-circle:before;
  left: -0.3rem;
  top: 0.2rem;
}

.error_explanation {
  @apply px-4 py-2 border border-orange bg-item;

  li:before {
    @extend %before-icon-exclamation-circle;
  }
}

.has_error {
  @apply relative border border-orange;
}

.error-in-field {
  @apply text-orange pl-4 pt-1 pb-2 leading-none;

  &:before {
    @extend %before-icon-exclamation-circle;
  }
}

// :VALIDATIONS
//////////////////////////////////////////////////

//////////////////////////////////////////////////////////////
// DEVICE:

form.devise {
  .field {
    @apply my-2;
  }

  .field_with_errors {
    @apply border border-orange;

    label {
      @apply text-orange ml-2;

      &:before {
        @extend %before-icon-exclamation-circle;
      }
    }
  }

  em {
    @apply text-white-20 normal-case;
  }
  label + em {
    @apply ml-2;
  }
}

// :DEVICE
////////////////////////////////////////////////////////////

.form-container {
  @apply mx-auto mt-8;
  width: 700px;
}

@media (max-width: 800px) {
  .form-container {
    width: 600px;
  }
}

@media (max-width: 620px) {
  .form-container {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .form-container {
    width: 98vw;
  }
}

//////////////////////////////////////////////////////////////

@keyframes blink {
  from { border-color: transparent; }
  10% { border-color: theme('colors.blue-50'); }
  to { border-color: transparent; }
}

.form-field {
  @apply mb-4;
}


.field-with-label {
  @apply relative w-full;

  input, select {
    @apply w-full h-16 px-4 pt-4 bg-blue-10 outline-none;
  }

  textarea {
    @apply w-full h-32 px-4 pt-8 pb-4 block outline-none;
  }

  label {
    @apply absolute left-0 top-0 w-full h-full pointer-events-none text-white text-sm;

    .input-name {
      @apply absolute top-2 left-4 text-white-80 normal-case;
      transform: translateY(70%) scale(1.5);
      transform-origin: left center;
      transition: all .3s ease;
    }

    &::after {
      content: "";
      @apply absolute left-0 top-0 w-full h-full border-b-2 border-blue;
      transform: scaleX(0);
      transform-origin: left center;
      transition: all .3s ease;
    }
  }

  
  // FOCUS EFFECT:
  input:focus, input:not(:placeholder-shown),
  select:focus, select:not(:placeholder-shown),
  textarea:focus, textarea:not(:placeholder-shown) {
    & + label .input-name{
      @apply text-blue;
      transform: translateY(0%) scale(1);
    }
  }
  input:focus,
  select:focus,
  textarea:focus {
    & + label {
      @apply border border-transparent;
      animation: blink 0.5s linear;
    }
    & + label::after{
      @apply text-blue;
      transform: scaleX(1);
    }
  }
}

.tip {
  @apply text-sm text-white-50 pl-4;
}
