input {
  @apply .text-lg .w-full;
  height: 3rem;
  background-color: transparent;
  color: $white;

  &[type='text'],
  &[type='search'],
  &[type='password'] {
    border-bottom: 1px solid $white-20;

    &:hover, &:focus, &:not(:placeholder-shown) {
      background-color: $white-05;
    }
  }
}
