h1, h2, h3 {
  line-height: 1.2em;
}

h4, h5, h6 {
  line-height: 1.4em;
}

h1 {
  @apply .text-5xl .mt-12 .mb-4 .text-center;
  font-family: MuseoSans;
  font-weight: 700;
}

h2 {
  @apply .text-4xl;
  font-family: MuseoSans;
  font-weight: 700;
}

h3 {
  @apply .text-3xl;
  font-family: OpenSans;
  font-weight: 600;
}

h4 {
  @apply .text-2xl;
  font-family: OpenSans;
  font-weight: normal;
}

h5 {
  @apply .text-xl;
  font-family: OpenSans;
  font-weight: 700;
}

h6 {
  @apply .text-lg;
  font-family: OpenSans;
  font-weight: 700;
}
