%before-icon-option {
  font-family: 'Line Awesome Free';
  font-weight: 900;
  content: "\f245";
  font-size: 1.5rem;
  position: relative;
  left: -0.3rem;
  top: 0.2rem;
  color: $orange;
}

ul.options {
  li:before {
    @extend %before-icon-option;
  }
}

li.option:before {
  @extend %before-icon-option;
}
