%before-icon-option {
  @apply relative text-orange text-2xl;
  font-family: 'Line Awesome Free';
  font-weight: 900;
  @extend .la-mouse-pointer:before;
  left: -0.3rem;
  top: 0.2rem;
}

ul.options {
  li:before {
    @extend %before-icon-option;
  }
}

li.option:before {
  @extend %before-icon-option;
}
