// @keyframes barberpole {
//   from { background-position-x: 0; background-position-y: 0; }
//   to   { background-position-x: 11.3rem; background-position-y: -11.3rem }
// }

@keyframes move-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5.656854rem);
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6rem;
  width: calc(100% + 6rem);

  background: repeating-linear-gradient(
    45deg,
    theme(colors.orange),
    theme(colors.orange) 2rem,
    transparent 2rem,
    transparent 4rem
  );
  animation: move-x 1s linear infinite;
}
