$anons-grad: linear-gradient(to right, color($body-bg-darker, alpha(.8)) 0%, color($body-bg-darker, alpha(0)) 500px);

.anonses{
  @apply .flex .flex-col .w-full .justify-center;

  .anons{
    @apply .flex .flex-col .justify-between .flex-1 .p-6 .shadow-md;
    background-color: $item-bg-darker;
    background-position: center;
    background-size: cover;
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;

    &:hover {
      @apply .shadow-2xl z-50;
      transform: translateY(-2px);
    }

    h2 {
      @apply .text-2xl .leading-tight .mb-4;
    }

    p {
      @apply .w-2_3;
    }

    a.action {
      @apply .inline-block .px-6 .py-2 .mt-4 .font-bold;
    }
  }
}

@screen sm {
  .anonses{
    @apply .flex-row;

    .anons{
      @apply .flex-col .flex-1 .m-4 .p-8 .shadow-lg;
      max-width: 30rem;

      + .anons {
        @apply .ml-0;
      }
    }
  }
}
