.copy-icon{
  position:absolute;
  z-index:10;
  top:17px;
  right:55px;
  display:block;
  width:30px;
  height:30px;
  background-color:transparent;
  background-position:50%;
  background-repeat:no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2222%22%20viewBox%3D%220%200%2019%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20x%3D%221%22%20y%3D%227%22%20width%3D%2211%22%20height%3D%2214%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22M7%204.5V1H18V15H15%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
  opacity: 0.5;
}

.copy-icon:focus{
  outline:2px dotted #afb3b9;
  outline-offset:2px
}

.hystmodal__close{
  opacity: 0.4;
  background-size: 22px 22px;
}

.copy-icon:hover, .hystmodal__close:hover{
  opacity: 0.7;
}

.copy-icon:active, .hystmodal__close:active{
  opacity: 1;
}

@media (max-width:767px){
  .copy-icon{
    top:17px;
    right:50px;
    width:24px;
    height:24px;
  }
}
