.product-grid-item {
  @apply block shadow bg-item;
  max-width: 300px;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    @apply shadow-xl;
  }

  .image {
    @apply relative;

    .labels {
      @apply flex absolute bottom-0 right-0;

      .label {
        @apply block px-2 relative;

        &::before{
          @apply absolute;
          content: '';
          width: .6rem;
          height: 100%;
          left: -.6rem;
          border-left: .6rem solid transparent;
        }

        &.featured{
          @apply bg-red-grad-x;
          
          &::before{
            border-bottom: 1.5rem solid theme('colors.orange');
          }
        }
        
        &.new{
          @apply bg-green-grad-x;

          &::before{
            border-bottom: 1.5rem solid theme('colors.lime');
          }
        }
      }
    }
  }

  .info {
    @apply flex flex-col p-4 overflow-x-hidden;

    .line{
      @apply pb-1;

      .categories {
        @apply flex uppercase;

        .kind {
          @apply text-orange;

          &:hover {
            @apply text-orange-hover;
          }
        }

        .category {
          @apply ml-2 text-light-blue;

          &:hover {
            @apply text-light-blue-hover;
          }
        }
      }

      .author, .price {
        @apply text-light-blue;
      }

      .version, .date {
        @apply text-white-50;
      }

      .version{
        @apply py-1 px-2 mr-2 border border-white-20;
      }

      .price {
        @apply text-xl font-bold;
      }
    }
  }
}
