/ - content_for :head
/   = stylesheet_pack_tag 'feedback-messages', 'data-turbolinks-track': 'reload'
/   = javascript_pack_tag 'feedback-messages', 'data-turbolinks-track': 'reload'

section.container.mx-auto.mt-16.px-4.pt-4.pb-16.bg-item-50
  #feedback-messages-app
